Flask
gunicorn
fuzzywuzzy
openai
tabulate
numexpr
python-Levenshtein
twilio
streamlit
streamlit-authenticator
streamlit_code_editor
vanna[snowflake]
langchain==0.1.9
langchain-openai==0.0.6
langchain-community==0.0.24
langchain-experimental
langchainhub
snowflake-snowpark-python